*, *::after, *::before {
	box-sizing: border-box
}

html {
	font-size: 62.5%
}

body {
	font-size: 1.6rem;
	font-family: source sans pro, sans-serif;
	color: #222;
	background-color: #fff
}

a {
	color: #a2b9b2;
	text-decoration: none
}

.schedule {
	position: relative;
	margin: 2em 0
}

.schedule::before {
	content: 'mobile';
	display: none
}

@media only screen and (min-width:800px) {
	.schedule {
		width: 90%;
		max-width: 1400px;
		margin: 2em auto
	}
	.schedule::after {
		clear: both;
		content: "";
		display: block
	}
	.schedule::before {
		content: 'desktop'
	}
}

.schedule .timeline {
	display: none
}

@media only screen and (min-width:800px) {
	.schedule .timeline {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding-top: 50px
	}
	.schedule .timeline li {
		position: relative;
		height: 50px
	}
	.schedule .timeline li::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: #eaeaea
	}
	.schedule .timeline li:last-of-type::after {
		display: none
	}
	.schedule .timeline li span {
		display: none
	}
}

@media only screen and (min-width:1000px) {
	.schedule .timeline li::after {
		width: calc(100% - 60px);
		left: 60px
	}
	.schedule .timeline li span {
		display: inline-block;
		transform: translateY(-50%)
	}
	.schedule .timeline li:nth-of-type(2n) span {
		display: none
	}
}

.schedule .events {
	position: relative;
	z-index: 1
}

.schedule .events .events-group {
	margin-bottom: 30px
}

.schedule .events .top-info {
	width: 100%;
	padding: 0 5%
}

.schedule .events .top-info>span {
	display: inline-block;
	line-height: 1.2;
	margin-bottom: 10px;
	font-weight: 700
}

.schedule .events .events-group>ul {
	position: relative;
	padding: 0 5%;
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch
}

.schedule .events .events-group>ul::after {
	display: inline-block;
	content: '-';
	width: 1px;
	height: 100%;
	opacity: 0;
	color: transparent
}

.schedule .events .single-event {
	flex-shrink: 0;
	float: left;
	height: 150px;
	width: 70%;
	max-width: 300px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2);
	margin-right: 20px;
	transition: opacity .2s, background .2s
}

.schedule .events .single-event:last-of-type {
	margin-right: 5%
}

.schedule .events .single-event a {
	display: block;
	height: 100%;
	padding: .8em
}

@media only screen and (min-width:550px) {
	.schedule .events .single-event {
		width: 40%
	}
}

@media only screen and (min-width:800px) {
	.schedule .events {
		float: left;
		width: 100%
	}
	.schedule .events .events-group {
		width: 20%;
		float: left;
		border: 1px solid #eaeaea;
		margin-bottom: 0
	}
	.schedule .events .events-group:not(:first-of-type) {
		border-left-width: 0
	}
	.schedule .events .top-info {
		display: table;
		height: 50px;
		border-bottom: 1px solid #eaeaea;
		padding: 0
	}
	.schedule .events .top-info>span {
		display: table-cell;
		vertical-align: middle;
		padding: 0 .5em;
		text-align: center;
		font-weight: 400;
		margin-bottom: 0
	}
	.schedule .events .events-group>ul {
		height: 950px;
		display: block;
		overflow: visible;
		padding: 0
	}
	.schedule .events .events-group>ul::after {
		clear: both;
		content: "";
		display: block
	}
	.schedule .events .events-group>ul::after {
		display: none
	}
	.schedule .events .single-event {
		position: absolute;
		z-index: 3;
		width: calc(100% + 2px);
		left: -1px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .1), inset 0 -3px 0 rgba(0, 0, 0, .2);
		flex-shrink: 1;
		height: auto;
		max-width: none;
		margin-right: 0
	}
	.schedule .events .single-event a {
		padding: 1.2em
	}
	.schedule .events .single-event:last-of-type {
		margin-right: 0
	}
	.schedule .events .single-event.selected-event {
		visibility: hidden
	}
}

@media only screen and (min-width:1000px) {
	.schedule .events {
		width: calc(100% - 60px);
		margin-left: 60px
	}
}

.schedule.loading .events .single-event {
	opacity: 0
}

.schedule .event-name, .schedule .event-date {
	display: block;
	color: #fff;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.schedule .event-name {
	font-size: 2.4rem
}

@media only screen and (min-width:800px) {
	.schedule .event-name {
		font-size: 2rem
	}
}

.schedule .event-date {
	font-size: 1.4rem;
	opacity: .7;
	line-height: 1.2;
	margin-bottom: .2em
}

.schedule .single-event[data-event=event-1], .schedule [data-event=event-1] .header-bg {
	background: #577f92
}

.schedule .single-event[data-event=event-1]:hover {
	background: #618da1
}

.schedule .single-event[data-event=event-2], .schedule [data-event=event-2] .header-bg {
	background: #443453
}

.schedule .single-event[data-event=event-2]:hover {
	background: #513e63
}

.schedule .single-event[data-event=event-3], .schedule [data-event=event-3] .header-bg {
	background: #a2b9b2
}

.schedule .single-event[data-event=event-3]:hover {
	background: #b1c4be
}

.schedule .single-event[data-event=event-4], .schedule [data-event=event-4] .header-bg {
	background: #f6b067
}

.schedule .single-event[data-event=event-4]:hover {
	background: #f7bd7f
}

.cd-intro h1 {
	text-align: center;
	padding: 2.6em 5% .8em;
	font-weight: 700;
	font-size: 3rem
}

@media only screen and (min-width:1000px) {
	.cd-intro h1 {
		font-size: 4rem;
		padding: 2em 5% .8em
	}
}